.flag-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.flag {
  width: 400px;
  height: 250px;
  border: 1px solid #000;
  background-color: white;
  position: relative;
}

.position-method::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 35%;
  width: 130px;
  height: 130px;
  background-color: red;
  border-radius: 50%;
  /* transform: translate(-50%, -50%); */
}

.transform-method {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transform-method::before {
  content: "";
  width: 130px;
  height: 130px;
  background-color: red;
  border-radius: 50%;
}
